.social-media{
    display: none;
    
     
 }
@media (min-width:1000px){
.social-media{
   right: 4%;
   z-index: 9999;
   bottom:196px;
   height: fit-content;
  display: block;
   
    
}

.social-media_brands a{
    display: block;
}
.social-media_brands a.git-footer{
    margin-bottom: 20px;
}
.social-media_brands::after{
    content: "";
    height: 0.5px;
    width: 200px;
    left: -91px;
    background-color: var(--color-text);
    bottom: -115px;
    display: block;
    position: absolute;
    transform: rotate(90deg);
}
}