@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Oswald&display=swap');
:root{

    --very-dark-grey: rgb(13, 13, 14);
    --color-transparent:rgba(0, 0, 0, 0.2);
    --color-text:#aaaeb1;
    --color-secondary: #cf1b1b;
    --box-shadow-grey: rgba(57, 63, 72, 0.3) 0px 3px 5px;
    --fw-light:300;
    --fw-bold:500;
    --font-family:'Oswald', sans-serif;
    --font-body:' 'Times New Roman', Times, serif';
    --swiper-arrow-color: #007aff;
    
}
.all-content-wrap{
    font-family: var(--font-family);
    background-color: black;
    background-size: cover;

}
a,li,.centered-heading span{
    color: white;
    font-family: var(--font-family);
}
.about-container_description p,
p.home-description
{
    font-family: sans-serif !important;
}

.main-content:not( .slider-container) {
    width: min(1100px,100% - 2em * 2) !important;
    margin:0 auto !important;
}
.centered-heading{
    cursor: context-menu;

}
.centered-heading > span{
    text-transform: capitalize;
    font-weight: var(--fw-bold);
    font-size:clamp(2rem,5vw,3rem);
    font-family: var(--font-family);
    transition: all .5s ease;
    
}
.centered-heading > span:hover{
    transition: all .5s ease;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
  color: var(--color-secondary);
}
span.period{
    font-size: 5rem;
    color: var(--color-secondary);
    font-family:cursive !important;
}
.shared-style-red-botton{
    padding: .3em 1em;
    background-color: var(--color-secondary);
    color: white;
    border-radius: .1rem; 
}
.margin-block{
    margin-block: 2rem;
}


@media(min-width:700px){
    .quote{
        text-align: start !important;

    }

}